// Styles for all of the user pages:
// Login, Signup, Support

page-user {
  .scroll-content{
    padding: 0px 20px;
  }
  .logo {
    padding: 20px 10px;
    min-height: 100px;
    margin-top: 50px;
    .lbl-title {
    font-size: 25px;
    color: #020044;
    }
   .sub-title{
    display: block;
    font-size: 12px;
    color: #020044;
    margin-top: 3px;
    margin-left: 10px;
   }
  }
  .input-wrapper ion-label{
    color: #020044 !important;
    font-size: 15px !important;
  }
  .text-input {
    border-bottom: 2px solid #9c9bbf;
  }
  .item-input:last-child {
    border-bottom: 0 !important;
  }
  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom: 0px !important;
    box-shadow: none !important
  }
  .custom-btn {
    box-shadow: none !important;
    background: #5874F4 !important;
    border-radius: 5px !important;
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: capitalize !important;
  }
  .margin-top {
    margin-top: 10%;
  }
  .bottom-signup {
    position: absolute;
    bottom: 30px;
    label {
      font-size: 15px;
    }
  }
  .btn-signup {
    font-size: 15px;
    color: #5874F4;
  }
  .btn-reset {
    font-size: 13px;
  }
  .list {
    margin-bottom: 0;
  }
}