$categories: (
 FV00: color($colors, primary),
 FV01: #AC282B,
 FV02: #8E8D93,
 FV03: #FE4C52,
 FV04: #FD8B2D,
 FV05: #FED035,
 FV06: #69BB7B,
 FV07: #3BC7C4,
 FV08: #B16BE3,
 FV09: #6600CC,
 FV10: #4500AD,
 FV11: #2211AC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

members {
  @each $id, $value in auxiliary-categories() {
   ion-item-sliding[memberId=#{$id}] ion-label {
    border: 0px !important;
     padding: 5px 10px;
     background: transparent;
   }
   ion-item-sliding .item:nth-child(odd), ion-item-sliding:nth-child(odd) {
    background-color: transparent !important;
  }
   ion-item-sliding .item:nth-child(even),ion-item-sliding:nth-child(even) {
     background-color: #fff !important;
     border-radius: 7px !important;
     box-shadow: 0px 3px 21px #eee;
   }
   ion-item-sliding.item-wrapper:last-child {
     margin-bottom: 20px !important;
   }
   ion-avatar, ion-avatar img {
     width: 40px !important;
     height: 40px !important;
   }
   .scroll-content ion-list.list {
     margin: 0px 40px !important;
   }
   ion-item-sliding button.item {
     padding: 5px 15px;
   }
   .has-refresher > .scroll-content{
     border-top:0; 
   }
   ion-icon {
     color: #fff !important;
   }
   ion-content.has-refresher > .scroll-content {
     background-color: transparent;
   }
  ion-content > div.scroll-content {
    margin-top: 260px !important;
  }
  .item-wrapper .item-block,.item-block .item-inner {
    border: 0px !important;
  }
  .input-wrapper > ion-label h3 {
    color: #020044 !important;
    font-size: 18px;
  }
  .input-wrapper > ion-label h3 + p {
    color: #7D7C9E;
    font-size: 16px;
    margin-top: 9px;
  }
  .toolbar .searchbar-input {
    background: #fff !important;
    border-radius: 50px !important;
    
  }
  .searchbar-input-container {
    width: 75%;
    margin: 0 auto;
    margin-top: -10px !important;
  }
  .searchbar-search-icon {
    top: 38px !important;
    width: 24px !important;
    height: 24px !important;
  }
  .searchbar-ios .searchbar-search-icon {
    top: 37px !important;
  }
  .searchbar-input {
    padding: 6px 25px !important;
  }
  .add-btn {
    width: 42px;
    height: 42px;
    border-radius: 50px;
    background-color: #FB7BB0;
  }
  .searchbar-ios .searchbar-input {
    padding: 21px 25px !important;
   
  }
  .searchbar-search-icon {
    position: relative !important;
    float: right !important;
    margin-right: 21px !important;
    background: url('../../assets/img/search-icon.png') no-repeat !important;
  }

  }

   ion-content {
       background: #f9f9f9 url("../../assets/img/member-list-bg.png") no-repeat 0px 0px fixed !important;
        -webkit-background-size: 420px 270px !important;
        -moz-background-size: 420px 270px !important;
        background-size: 420px 270px !important;
        
    }
    .item-inner{
      background-position: right 0px center!important;
    }
}

