member-create {
  .profile-image-wrapper {
    text-align: center;
    margin: 20px 0;

    .profile-image {
      width: 96px;
      height: 96px;
      border-radius: 50%;

      display: inline-block;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .profile-image-placeholder {
      display: inline-block;

      background-color: #fff;
      width: 96px;
      height: 96px;
      border-radius: 50%;
      line-height: 9;
      font-size: 12px;
      box-shadow:0px 3px 99px #c9c9c9;
      img {
        width: 32px !important;
        height: auto;
      
      }
    }  
    
  }
  .form-container {
    margin: 0px 46px;
    .item-md,.item-ios{
      background: transparent;
    }
}
  .text-input{
    padding-right: 0!important;
  }
  ion-content {
    background: #ffffff url("../../assets/img/member-new-bg.png") no-repeat 0px 0px fixed !important;
     -webkit-background-size: 420px 270px !important;
     -moz-background-size: 420px 270px !important;
     background-size: 420px 270px !important;
     
 }
 .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
  color: #fff !important;
    background-color: #DE8DE5;
    width: 42px;
    height: 42px;
    border-radius: 50px;
}
}
